<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/recipe.css">

</head>
<body>
    <header class="guest-header">
        <p>You are signed in as a guest, <a href="/signup">sign up</a> to make sure you don't lose your notes. Already a member? <a href="/login">log in!</a></p>
    </header>

    <h1>Recipes</h1>
    <button type="button" class="openForm">Add Recipe</button>
 
        <ul class="recipeList">
            
                    <li class='recipeItem'>
                        <a href="/ingredients/>"><span class="recipeTitle"></span></a>
                        <span class='del'> Delete </span>
                    </li>
                    
            
            </ul>
        
            <h2>you have count recipes!</h2>
  
   

    <!-- <form action="/recipes/createRecipe" method='POST'>
        <input type="text" placeholder="Enter Recipe Name" name='recipeName'>
        <input type="submit">
    </form> -->



    <section class="form-popup" id="myForm">
        <h2>Add New Recipe</h2>
        <form action="/recipes/createRecipe" method='POST' class="form-container">
            <label>Title</label>
            <input type="text" placeholder="Enter Recipe Name" name='recipeName' class="input">
            <label>Category</label>
            <input type="text" placeholder="Category" name='recipeCategory' class="input">
            <label for="description">Description</label>
            <!-- <input type="text" placeholder="Optional Description" name='recipeDescription'> -->
            <textarea id="description" name='recipeDescription' rows="5" class="input"></textarea>
            <label>Photo</label>
            <input type="file" placeholder="Photo" name='recipePhoto' accept="image/png, image/jpeg" class="input"> <!--there is also type="image"-->
            <!-- <input type="submit"> -->
            <button type="submit" class="btn">Submit</button>
            <button type="button" class="btn cancel closeForm">Close</button>
        </form>
    </section>


    <script src="/js/main.js"></script>
    <script src="/js/guest-recipe.js"></script>
</body>
</html>