.recipeList {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    width: 100%;
}

.recipeItem  a{
    display: inline-block;
    text-decoration: none;
    color: black;
}
.recipeTitle{
    display: inline-block;
}
.recipeTitle:hover {
    color: chocolate;
}
.recipeItem {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 25%;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 2%;
}